# Mengabaikan file log
*.log

# Mengabaikan folder node_modules
node_modules/

# Mengabaikan semua file .env
.env

# Mengabaikan semua file .env
data/

# Mengabaikan semua file sementara di folder temp
temp/*
