@import url(style.css);

h1{
    margin: 1rem ;
}

#back{
    width: 10rem;
}

#back:hover{
    background-color: var(--background);
}

#image{
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 100%;
}
#image img{
    width: 300px;
    border-radius: 12px;
    image-resolution: 16,9;
    
}
