@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
    transition: all ease-in-out 0.2s;
    scroll-behavior: smooth;
}

a{
    color: var(--text);
    text-decoration: none;
}

button:focus{
    outline: none;
}

:root {
    --btn-size: 1.3rem;
    --btn-size-width: 20rem;

    --background: #070402;
    --background2: #fdf7dd;
    --header: #070402;
    --content: #1d1d1b;
    --accent: #ea6236;
    --text: #fdf7dd;
    --text-black: #070402;
}

@media screen and (min-width: 1101px) {

    .home-page {
        display: grid;
        max-width: 100%;
        height: 100vh;
        position: relative;
        background-color: var(--background);
        background-image: url("assets/bg-image.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-content {
        color: var(--text);
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100vh;
        background-color: rgba(0, 0, 0, 0.300);
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .home-content .col-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        padding: 3.5rem 9rem;
        gap: 2rem
    }

    #home-logo {
        width: 85%;
    }

    .home-content .col-1 .content-2 button {
        font-size: 1.2rem;
        width: 85%;
        border: 0;
        border-radius: 12px;
    }

    .home-content .col-1 .content-2 button:hover {
        border: 0;
        border-radius: 12px;
    }

    .home-content .col-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        position: relative;
        right: 20px;
    }

    .home-content .col-2 img {
        width: 70%;
    }

    #image-slideshow{
        display: none;
    }

    #landing-pg-text {
        display: none;
    }

    #open-sidebar {
        display: none;
    }

    .navbar {
        padding: 0 3rem;
    }

    .gallery-section {
        background-color: var(--content);
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .gallery-section .gallery-col2 {
        background-color: var(--background);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gallery-section .gallery-col2 .container {
        color: var(--text);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gallery-section .gallery-col2 .container .title{
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 1100px){
    #navbar-content {
        display: none;
    }

    #open-sidebar {
        display: block;
    }

    #landing-pg-text h1{
        font-size: 2.7rem;
        margin-bottom: 2rem;
    }

    #image-slideshow{
        position: absolute;
    }

    .home-content {
        font-size: large;
        color: var(--text);
        position: relative;
        display: grid;
        grid-template-rows: 1fr;
        background-color: rgba(0, 0, 0, 0.500);
        max-width: 100%;
        height: 100vh;
        overflow: hidden;
    }


    .home-content .col-1 {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        max-width: 100%;
        box-sizing: border-box;
        gap: 3rem
    }

    #paragraph-1{
        display: none;
    }

    #home-logo {
        display: none;
    }

    .home-content .col-2 {
        display: none;
    }

    /* .home-content .col-1 img {
        display: none;
    } */

    .home-content .col-1 .content-2 button {
        font-size: 1.2rem;
        width: var(--btn-size-width);
        border: 0;
        border-radius: 12px;
        color: var(--text);
        padding: var(--btn-size);
        background-color: var(--background);
    }
    

    .gallery-section {
        background-color: var(--content);
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }
    .gallery-section .gallery-col1{
        display: none;
    }
}

@media screen and (max-width: 900px){
    
}

body{
    max-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

main{
    min-width: 100%;
}


#ham-input{
    margin: 0 0 0 -2rem;
}

.navbar{
    top: 0;
    height: min-content;
    width: 100%;
    gap: 2rem;
    display: inline-flex;
    align-items: center;
    color: var(--text);
    background-color: var(--background);
    position: sticky;
    top: 0;
    z-index: 999;
    box-sizing: border-box;
    padding: 0 2rem;

}

.navbar ul{
    overflow-x: hidden;
    margin: 0 auto;
    display: flex;
    list-style: none;
}

.navbar ul li {
    position: relative;
    padding: 1.6rem 2.5rem;
}

.navbar ul li:before {
    content: " ";
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    height: 7px;
    background-color: var(--accent);
}

.navbar ul li:hover:before {
    content: " ";
    position: absolute;
    opacity: 1;
    background-color: var(--accent);
}

.navbar ul li:hover {
    color: var(--text-black);
    background-color: var(--background2);
}

.navbar input{
    opacity: 0;
    position: fixed;
}

.logo {
    width: 3.5rem;
}

.sidebar {
    background-color: var(--background);
    color: var(--text);
    z-index: 99999;
    position: fixed;
    transform: translate(-20rem, 0);
}

#open-sidebar{
    border: none;
    background: var(--background);
}

#close-sidebar{
    border: none;
    background: var(--background);
}

.sidebar ul{
    height: 100vh;
}

.sidebar ul li{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1rem 3rem;
}

.sidebar label{
    margin: 1.7rem 0 0 0;
}

.sidebar ul li:hover{
    background-color: var(--background2);
    color: var(--text-black);
    img{
        filter: invert();
    }
    
}

.sidebar ul li img{
    position: relative;
    top: -1px;
    margin-right: 1rem;
    width: 1.5rem;
}

.sidebar .header{
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-around;
}

.home-content .col-1 .content-2 button {
    border-radius: 12px;
    color: var(--text);
    padding: var(--btn-size);
    background-color: var(--background);
}

.home-content .col-1 .content-2 button:hover {
    border: 0;
    border-radius: 12px;
    color: var(--text-black);
    background-color: var(--background2);
}

.saperate{
    text-align: center;
    box-sizing: border-box;
    padding: 1.2rem 0;
    text-align: center;
}

.saperate-black {
    box-sizing: border-box;
    padding: 1.2rem 0;
    text-align: center;
    color: var(--text);
    background-color: var(--background);
}

.home-page {
    max-width: 100%;
    background-color: var(--background);
    background-image: url("assets/bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.team-section{
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--background2);
    max-width: 100%;
    height: 100vh;
}

.team-section .header{
    padding: 1.5rem;
    
}
.team-section .header h1{
    font-size: 3rem;
    position: relative;
}

#profiles-container{
    overflow-x: auto;
    display: flex;
    padding: 1rem 0;
    scroll-behavior: smooth;
    max-width: 90%;
    gap: 1rem;
}


.card {
    flex: 0 0 auto;
    width: 300px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    scroll-snap-align: start;
}
.image-wrapper {
    position: relative;
    background: black;
    height: 300px;
}
.background-bars {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.background-bars div {
    flex: 1;
}
.profile-image {
    position: relative;
    z-index: 1;
    height: 100%;
    object-fit: cover;
}
.info {
    padding: 1em;
}
.name {
    font-weight: bold;
    font-size: 1.5em;
}
.title {
    font-weight: 600;
    margin-top: 0.25em;
    color: #555;
}
.desc {
    font-size: 0.9em;
    color: #444;
    margin-top: 1em;
}

.scroll-container::-webkit-scrollbar {
    height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.gallery-section .gallery-col2 {
    position: relative;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-section .gallery-col2 .container {
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-section .gallery-col2 .container .title{
    color: var(--text);
    margin-bottom: 2rem;
  
}

.gallery-section .gallery-col2 .container button {
    font-size: 1.2rem;
   
    /* width: 300px; */
    border: 0;
    border-radius: 12px;
    color: var(--text);
    padding: var(--btn-size);
    width: var(--btn-size-width);
    background-color: var(--content);
}

#circle1{
    z-index: 0;
    position: absolute;
    margin-bottom: 10rem;
    width: 20rem;
}
#circle2 {
    opacity: 1;
    z-index: 0;
    position: absolute;
    max-height: 100%;
}

.gallery-section .gallery-col2 .container button:hover {
    border: 0;
    border-radius: 12px;
    color: var(--text-black);
    background-color: var(--background2);
}

.gallery-section .gallery-col2 h1{
    font-size: 3rem;
}

.sale-section{
    overflow-y: hidden;
    min-height: 100vh;
    position: relative;
    background-color: var(--background);

}

.sale-section .header{
    padding: 2rem;
    text-align: center;
    color: var(--text);
}

.decor-assets{
    position: absolute;
    bottom: 0;
    width: 4rem;
}

.button-template {
    font-size: 1.2rem;

    /* width: 300px; */
    border: 0;
    border-radius: 12px;
    color: var(--text);
    padding: var(--btn-size);
    width: 90%;
    background-color: var(--background);
}

.button-template:hover {
    border: 0;
    border-radius: 12px;
    background-color: var(--content);
}

#waves-1{
    width: 10rem;
    right: 0;
}

#waves-2 {
    width: 10rem;
    bottom: -10px;
}

#sales-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content:center;
    padding: 0 2rem;
    gap: 2rem;
    margin-bottom: 1rem;
    overflow-y: auto;
}

#sales-container .content {
    position: relative;
    min-height: 30rem;
    border-radius: 20px;
    padding: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items:flex-start;
    box-sizing: border-box;
    width: 25rem;
    background-color: var(--background2);
}



#sales-container .content h1{
    font-size: 2rem;
    color: var(--text-black);
}

#sales-container .content h3{
    color: #525252;
}

#sales-container .content p{
    margin-top: 20px;
}

#sales-container .content ul{
    position: relative;
    list-style:circle ;
    list-style-position: inside;
    box-sizing: border-box;
}

#sales-container .content ul {
    list-style: circle;
    list-style-position: inside;
    box-sizing: border-box;
}

#sales-container .content button {
    align-self: center;
    position: absolute;
    bottom: 1rem;
}

.price-title{
    
}

footer {
    padding: 2em 0 0 0;
    color: var(--text);
    background-color: var(--background);
}

footer .container {
    padding: 0 2rem;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

footer .social-media div{
    flex-direction: column;
}